rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /activityLog/{logId} {
      allow create: if request.auth != null
                    && request.resource.data.uid == request.auth.uid;

      allow read: if request.auth != null
                  && request.auth.uid == "ga2PuooJcPQoagypK9Ig8acsNWa2";

      allow update, delete: if false;
    }

    match /scheduler/{documentId} {
      allow read, write: if request.auth != null;
    }

  }
}
